.dashboard {
  &-block {
    margin: 5px;
    &_name {
      font-size: 24px;
      font-weight: 600;
    }
    &_content {
      display: flex;
      flex-wrap: wrap;
      margin: 16px 0px 40px 0px;
    }
  }
}
